#╔═════════════════════════════════════════════════════════╗
#║                       [.gitignore]                      ║
.env
build
index.html
#║                   <No rest for dreamers>                ║
#╚═════════════════════════════════════════════════════════╝